.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: #2D4C6D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  
}

.NavBar {
  color: white;
  background: #051E34 ;
  min-height: 8vh;
  width: 100%;
  height: 9%;
  align-items: center;
  display: flex;
  font-size: calc(10px + 2vmin);
  font-weight: bolder;
  font-family:'Montserrat', sans-serif;
  font-size: calc(6px + 2vmin);
  gap: 5vh;

}

.flagImgs {
  border-radius: 10%;


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

